@media (max-width: 850px) and (min-width: 768px) {
    .my-3z {
      flex-direction: column;
    }
  
    .Action {
      flex-wrap: wrap;
      float: none;
      text-align: center;
      justify-content: space-between;
    }
  
    .Next2 {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 10px;
    }
  }

@media (max-width: 1215px) and (min-width: 850px) {
    .my-3z1 {
      flex-direction: column;
    }
  
    .Action1 {
      flex-wrap: wrap;
      float: none;
      text-align: center;
      justify-content: space-between;
    }
  
    .Next5 {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 10px;
    }
  }