.main-sidebar {
  width: 15.5rem;
  height: 100%;
  background-color: rgba(52, 58, 64, 255);
  position: fixed;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: all 500ms ease-in-out;
}
.sidebar-container {
  overflow-y: scroll;
  position: relative;
  top: 0;
  /* height: 460px; */
}
.sidebar-container::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}
.sidebar-container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
.sidebar-container:hover::-webkit-scrollbar-thumb {
  background: lightgrey;
}
.brand-link {
  color: rgb(220, 218, 218);
}
.brand-link:hover {
  color: white;
  transition: all 0ms;
}
.nav-icon {
  color: #c2c7d0;
  margin-left: 1rem;
  margin-right: 1.3rem;
  transition: all 300ms ease-in-out;
  font-size: 1.2rem;
  text-align: center;
  width: 1.6rem;
}
.nav-icon:hover {
  color: white;
}
.nav-link {
  color: rgb(220, 218, 218);
  display: flex;
  padding-left: 0.4rem;
  align-items: center;
}
.navhead {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: all 900ms ease-in-out;
  font-size: 16px;
  letter-spacing: 0.4px;
}
.ff,
.navhead > p {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important ;
    font-size: 15px;
    font-weight: lighter;
}
.nav-link:hover {
  color: white;
}
.nav-link-sub {
  color: rgb(220, 218, 218);
  display: flex;
  padding-left: 0.8rem;
  padding-top: 0.4rem;
}
.nav-link-sub:hover {
  color: white;
}

Link {
  color: white;
}
p {
  color: white;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !important ;
  font-size: 15px;
  font-weight: lighter;
}
.sidebar i {
  color: white;
}
.btnclass1 {
  border: none;
  background-color: rgb(0, 123, 255);
  color: black;
}
.btnclass1:hover {
  background-color: rgb(1, 97, 200);
  border: none;
}
.btnclass2 {
  background-color: rgb(220, 53, 69);
  border: none;
}
.btnclass2:hover {
  background-color: rgb(196, 39, 54);
  border: none;
}
.sidebar .nav-link p {
  transition: margin-left 0.3s linear, opacity 0.3s ease, visibility 0.3s ease;
}
.sidebar-container {
  height: 100%;
}
.sidebar-container:hover{
  width: 15.5rem;
  height: 100%;
  background-color: rgba(52, 58, 64, 255);
  position: fixed;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: all 500ms ease-in-out;
}

